html{
    font-size: 2rem;
}
form{
    display: flex;
}
#root{
    display: flex;
    margin: 0 auto;
    width: 800px;
}

.strike-through{
    font-style: oblique;
    text-decoration: line-through;
    text-decoration-color: rgb(250, 229, 201);
}